<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= locals.title %> </title>
</head>

<body>
    <nav>
        <a href="/">Duck Goose</a>
        <div>
            <a href="/">Board</a>
            <a href="/new">Add Post</a>
        </div>
    </nav>

    <div id="container">
        <% locals.msg.forEach((msg) => { %>
            <div class="board-post">
                <h2> Title: <%= msg.title %> </h2>
                <p> User: <%= msg.user %> </p>
                <p> Message: <%= msg.text %> </p>
                <p> Date: <%= msg.added %> </p>
            </div>
        <% }); %>    
    </div>

</body>
</html>